@import "../../sass/variable";

.wrapper{
    background-color: $colorBg;
    min-height: calc(100vh - 6rem);
    padding:1rem;
    color:$colorWhite;

}


.register{
  text-align: center;


.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:5px;
    font-size: 1.2rem;
    font-weight: 700;

    .banner{
        display: flex;
        color:white;
        font-size: 1.5rem;
        align-items: center;
        
        .icon{
            font-size: 2.5rem;
        }
    
    }
}

}
.form {
    width: 30rem;
}


@keyframes spinner {
    0% {
        transform: rotateyY(0deg);
    }
    100% {
      transform: rotateY(360deg);
    }
  }
  .loading-spinner {
    width: 100px;
    height: 100px;
    
    border-radius: 50%;
    animation: spinner 10s forwards infinite;
  }
  
  .spinner-container {
    display: grid;
    justify-content: center;
    align-items: center;
    // height: 350px;
}
@media screen and (max-width:700px) {
    
   
}