@import "../../sass/variable";
.card{
    padding:0.6rem;
    
    display: flex;
    position:relative;
    flex-direction: column;
    background-color:$colorWhite ;
    border-radius: 7px;
    overflow: hidden;
    cursor: pointer;
    &:hover .overview{
        transform:  translateX(0%);
    }
    img{
       width: 100%;
        object-fit: cover;
        border-radius: 7px;
      

    }
   .title{
text-align: center;
font-weight: bold;
    }
    
    span{
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}
.icon{
 font-size:2.3rem;

 color:$colorCoral
} 
.overview{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap:1.2rem;
   align-items: flex-end;
   
top:0;
    left:0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
    padding: 2rem 0.6rem;
    border-radius: 7px;
    transform: translateX((100%));
    text-align: left;
width: 100%;
height: 100%;
    color:white;
    
    span{
        font-style: italic;
    }
}