@import "../../sass/variable";


.navBar{

    background-color: $colorDarkBlue;

    width: 100%;

    padding: 1.5rem ;
    
    h1{
        color:$colorWhite;
    }

    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
     

        
    
    }

    ul{
        list-style-type: none;
        display: flex;
        gap:1rem;
    
    }
    li{
        transform: scale(0.9);
        transition: all ease-in 0.4s;
        opacity: 0.8;
        &:hover{
            transform: scale(1);
            opacity: 1;
           
        }
    }

}
.logo{
    display: flex;
    gap:0.5rem;
    align-items: center;
    cursor: pointer;
    text-decoration: none;

}
.icon{
    color:$colorWhite;
    font-size: 3rem;
    
}


.link{
    color:$colorWhite;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: bold;
    background-color: $colorDarkBlue;
   
    box-shadow: 5px 3px 5px rgba(0,0,0,0.3);
    padding: 0.5rem 0.8rem;
    border: 1px solid $colorWhite ;
    border-radius: 7px;
}
.active{
    color:$colorDarkBlue;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: bold;
    background-color: $colorWhite;

    box-shadow: 5px 3px 5px rgba(0,0,0,0.3);
    padding: 0.5rem 0.8rem;
    border: 1px solid $colorWhite ;
    border-radius: 7px;
}