@import "../../sass/variable";


.navBar{

    background-color: $colorDarkBlue;
    display: flex;
    justify-content: center;
    width: 100%;
    padding:1.5rem;
    
    h1{
        color:$colorWhite;
    }

    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1rem;
        
    
    }
}
.logo{
    display: flex;
    gap:0.5rem;
    align-items: center;

}
.icon{
    color:$colorWhite;
    font-size: 3rem;
    
}

ul{
    list-style-type: none;
    display: flex;
    gap:1rem;

}
.link{
    color:$colorWhite;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: bold;
    background-color: $colorDarkBlue;
   
    box-shadow: 5px 3px 5px rgba(0,0,0,0.3);
    padding: 0.5rem 0.8rem;
    border: 1px solid $colorWhite ;
    border-radius: 7px;
}
.active{
    color:$colorDarkBlue;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: bold;
    background-color: $colorWhite;

    box-shadow: 5px 3px 5px rgba(0,0,0,0.3);
    padding: 0.5rem 0.8rem;
    border: 1px solid $colorWhite ;
    border-radius: 7px;
}